<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="grid">
          <nav class="header__navbar">
            <ul class="header__navbar-list">
              <li
                class="header__navbar-item header__navbar-item--separate header__navbar-item-has-qr"
              >
                Vào của hành trên ứng dụng di động

                <!-- Header-qr-code -->
                <div class="header__qr">
                  <img
                    src="assets/images/shopqr.png"
                    alt="QrCode"
                    class="header_qr-img"
                  />
                  <div class="header__qr-apps">
                    <img
                      src="assets/images/googleplay.png"
                      alt=""
                      class="header__qr-download-img"
                      style="margin-left: 11px"
                    />
                    <img
                      src="assets/images/appstore.png"
                      alt=""
                      class="header__qr-download-img"
                      style="margin-right: 11px"
                    />
                  </div>
                </div>
                <!-- Header-qr-code -->
              </li>
              <li class="header__navbar-item">
                <span class="header__navbar-item-nopointer">Kết nối</span>
                <a href="" class="header__navbar-icon-link">
                  <i
                    class="header__navbar-icon fa-brands fa-square-instagram"
                  ></i>
                </a>
                <a href="" class="header__navbar-icon-link">
                  <i
                    class="header__navbar-icon fa-brands fa-square-facebook"
                  ></i>
                </a>
              </li>
            </ul>

            <ul class="header__navbar-list">
              <li class="header__navbar-item">
                <a class="header__navbar-item-link"
                  ><i class="header__navbar-icon fa-solid fa-bell"></i>
                  <p>Thông báo</p></a
                >
              </li>
              <li class="header__navbar-item">
                <a class="header__navbar-item-link">
                  <i
                    class="header__navbar-icon fa-solid fa-circle-question"
                  ></i>
                  <p>Trợ giúp</p></a
                >
              </li>
              <li
                class="header__navbar-item header__navbar-item--strong header__navbar-item--separate"
              >
                Đăng kí
              </li>
              <li class="header__navbar-item header__navbar-item--strong">
                Đăng nhập
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="container"></div>
      <div class="footer"></div>
    </div>
  </body>
</html>
